body {
  background-color:#080808;
  color:white;
}
#header {
  background-color:#663300;
  border-color:black black white;
  color: black;
}
.even {
  background-color:#0F0F0F;
}
.odd {
  background-color:#171717;
}
.even.active {
  background-color:#1F1F1F;
}
.odd.active {
  background-color:#262626;
}
.even.prereq {
  background-color:#2E2E2E;
}
.odd.prereq {
  background-color:#363636;
}
.even.postreq {
  background-color:#3D3D3D;
}
.odd.postreq {
  background-color:#454545;
}
.tooltip {
  background-color:#080808;
  border-color:black;
}
.build_value {
  background-color:#696969;
}
input {
  background-color:#454545;
  color:#FFFFFF;
}
a {
  font-weight:bold;
}
a:link {
  color:#2F4F4F;
  text-decoration:none;
}
a:visited {
  color:#000;
  text-decoration:none;
}
a:hover {
  color:#FFF;
  text-decoration:underline;
}
a:active {
  color:#FFFF7E;
  text-decoration:none;
}
select {
  background-color:#454545;
  color:#FFFFFF;
}
